<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="end" (click)="close()">
                <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #001c4e;">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>   
    </ion-header>
    <ion-item-divider><ion-label><h2>Taxas</h2></ion-label></ion-item-divider>
    <ion-content fullscreen>
        <ion-list>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>Valor Base</h1></ion-label>
                <ion-input  (ionChange)="valorBase($event)" type ="text" mode="ios" slot="end" value="{{base}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>Valor km</h1></ion-label>
                <ion-input (ionChange)="valorKm($event)" type ="text" mode="ios" slot="end" value="{{km}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>Valor min </h1></ion-label>
                <ion-input (ionChange)="valorMin($event)" type ="text" mode="ios" slot="end" value="{{min}}"></ion-input>
            </ion-item>
            <ion-button class="botao" (click)="salvar()">
                <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>salvar
            </ion-button>
            <br>
          <ion-radio-group (ionChange)="bandeira($event)">
            <ion-item-divider><ion-label><h2>Bandeira Dinâmica (Taxa atual : {{t}})</h2></ion-label></ion-item-divider>
            <br>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.0</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.0"></ion-radio>
            </ion-item>
  
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.1</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.2</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.3</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.3"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.4</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.4"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.5</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.5"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.6</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.6"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.7</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.7"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.8</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.8"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>1.9</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="1.9"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.0</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.0"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.1</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.2</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.3</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.3"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.4</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.4"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.5</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.5"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.6</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.6"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.7</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.7"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.8</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.8"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>2.9</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="2.9"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.0</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.0"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.1</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.2</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.3</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.3"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.4</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.4"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.5</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.5"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.6</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.6"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.7</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.7"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.8</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.8"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>3.9</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="3.9"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.0</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.0"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.1</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.2</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.3</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.3"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.4</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.4"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.5</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.5"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.6</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.6"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.7</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.7"></ion-radio>
            </ion-item><ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.8</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.8"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>4.9</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="4.9"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>5.0</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="5.0"></ion-radio>
            </ion-item>
            <ion-button class="botao" (click)="salvarBandeira()">
                <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>salvar
            </ion-button>
        

           
          </ion-radio-group>
        </ion-list>

    </ion-content>
</ion-app>