ion-content {
    --background: var(--ion-color-light);
    --background: url("/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

ion-item {
    padding: 6px;
}

ion-item-divider {
    //padding: 10px;
    --background: transparent;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}