<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="end" (click)="close()">
                <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #001c4e;">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>   
    </ion-header>
  
    <ion-content fullscreen>
        <br>
        <h1>Configurações</h1>

    <ion-item no-padding (click)="toEditarPerfil()">
        <ion-avatar slot="start" class="user-avatar"><img src="{{urlFoto}}"></ion-avatar>
        <ion-label *ngIf="(user$ | async) as user;">
          {{user.full_name}}<br>
          <p>Editar perfil</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding (click)="toTaxas()">
       <ion-label>Taxas<br>
          <p>Configuração de taxas</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <br>

   <!-- <ion-item-divider>
        <ion-label style="color: #001c4e; font-weight: bold;">
          Favoritos
        </ion-label>
    </ion-item-divider>

    <ion-item no-padding>
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        <ion-label>
            Acordos Legais<br>
            <p>Próxima etapa recomendada</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding>
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        <ion-label>
            Acordos Legais<br>
            <p>Próxima etapa recomendada</p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>-->
      
    </ion-content>
  </ion-app>