ion-content {
    --background: var(--ion-color-light);
    --background: url("/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

ion-item {
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0; 
    --outline: 0;
}

ion-icon {
    color: gray;
}

/*input[type="file"]{
    display: none;
}

label {
    background: #b1ff49;  //#001c4e;
    color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    border-radius: 50px;
    text-align: center;
    padding: 16px;
    --box-shadow: 0 0 0 0; 
    outline: 0;
    text-transform: uppercase;
    font-size: .9em;
    cursor: pointer;
}*/

/*input[type='file'] {
    display: none
  }
  
  .input-wrapper label {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    padding: 6px 20px
  }
  
  .input-wrapper label:hover {
    background-color: #2980b9
  }

img {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}*/

h1 {
    font-size: 1.5rem;
    text-align: center;
    //text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}

.declaracao {
    font-size: 1.1rem;
    //font-weight: bold;
    padding: 10px;
    //padding-bottom: 0px;
    color: #123b7d;
    text-align: justify;
}

.termo {
    padding: 10px;
    padding-top: 0px;
    color: #123b7d;
    margin-top: -20px;
    text-align: justify;
}