<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Tire uma foto do(a) Certificado de Registro e Licenciamento de Veículo - CRLV</h1>
  <br>
  <div>
    <p class="termo">
      Lembre-se, é preciso que: 1. A foto mostre todo o documento, como na imagem abaixo. 
      2. Todos os campos estejam legíveis. 3. A categoria do veículo apareça como "Particular".
      4. O veículo não seja anterior a 2010. Obs: O CRLV eletrônico é aceito regularmente.
    </p>
  </div>

  <img src="/assets/img/exemplo-crlv.jpg"><br>

  <br><br>

  <!--<script type="text/javascript">
    $fileName = document.getElementById('file-name');

    $input.addEventListener('change', function(){
      $fileName.textContent = this.value;
    });
  </script>

  <div class='input-wrapper'>
    <label for='input-file'>
      Selecionar um arquivo
    </label>
    <input id='input-file' type='file' value='' (change)= "file = $event.target.files[0]" accept="image/*"/>
    <span id='file-name' style="color: black;"></span>
  </div>

  <label>Selecionar Foto</label>-->
  
  <input type="file" (change)= "file = $event.target.files[0]" accept="image/*"><br>
  <ion-button class="botao" (click)= "salvarFoto();">Enviar foto</ion-button>
</ion-content>