<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" (click)="close()">
            <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #001c4e;">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>   
</ion-header>

<ion-content>
    <br>
    <h1>Editar perfil</h1>
    <ion-grid>
        <ion-row>
            <ion-col size="5">
                <ion-avatar style="display: block; margin: auto;">
                    <img src="{{urlFoto}}">
                </ion-avatar><br>
              <!--  <ion-icon name="create-outline" color="dark" style="display: block; margin: auto; font-size: 24px;" (click)="ap();"></ion-icon>-->
            </ion-col>

            <div id = "ap" style="display: none;">
                <ion-row class="ion-text-wrap">
                  <ion-col>
                    <div class = "edit-email">
                      <ion-item class="Input" style="padding: 0px;">
                        <input  type="file" (change)= "file = $event.target.files[0]" accept="image/*"><br>
                       
                      </ion-item>
                      <ion-button class="botao" (click)="salvarFoto()">
                        <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>salvar alterações
                    </ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
   
            <ion-col>
                    <ion-item>
                        <ion-label position="floating" color="dark">
                            <ion-icon name="person-outline" size="small" slot="start" item-start></ion-icon>&nbsp;
                            Nome
                        </ion-label><br>
                        <ion-input  placeholder="" [(ngModel)]="name" type="text" placeholder="{{firstName}}"></ion-input>
                        
                        <ion-label position="floating" color="dark"><ion-icon name="person-outline" size="small" slot="start" item-start></ion-icon>&nbsp;
                            Sobrenome
                        </ion-label><br>
                        <ion-input placeholder="{{secondname}}" [(ngModel)]="secondName" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating" color="dark"><ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>&nbsp;
                            Senha
                        </ion-label><br>
                        <ion-input type="password"  [(ngModel)]="password" placeholder="****"></ion-input>
                    </ion-item>   
            </ion-col>
     
        </ion-row>

            
        
        </ion-grid>
   
    
    <br>

    <ion-button class="botao" (click)="salvar()">
        <ion-icon name="checkmark-outline" slot="end" style="color: #001c4e;"></ion-icon>salvar alterações
    </ion-button>
</ion-content>