ion-content {
    --background: var(--ion-color-light);
    --background: url("/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

ion-item {
    --highlight-height: 0px;
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
   --box-shadow: 0 0 0 0; 
    outline: 0;
}

ion-input {
    border-bottom: 1px solid lightgray;
}

ion-grid {
    background: white !important; 
    padding-bottom: 5px;
    margin: 6px;
}

ion-checkbox {
    --background: transparent;
    --background-checked: #b1ff49;
    --border-color:lightgray;
    --border-color-checked: lightgray;
    --checkmark-color: #001c4e;
    --box-shadow: none !important;
    text-align: right;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc !important;
    border-radius: 50% !important;
    padding: 0px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}

.botao {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: white;
   --box-shadow: 0 0 0 0;
    outline: none !important;
}