<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="end" (click)="close()">
                <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #001c4e;">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>   
    </ion-header>
  
    <ion-content fullscreen>
        <h1>Meus Pagamentos</h1>

        <p class="descricaoTitulo">
        Adicione abaixo os dados de seu Cartão de Crédito para fazer os pagamentos de suas corridas
        </p>
        
       
        <div class="boxConteudo">
            <form class="list-form">
                <ion-grid>
                    <ion-row style="padding-bottom: 4px;"> 
                        <input type="tel" class="form-control" id="numerocartao" placeholder="Número do cartão" value="">
                    </ion-row>

                    <ion-row>
                        <input type="text" class="form-control" id="nomecartao" placeholder="Nome do titular do cartão"/>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <input type="tel" class="form-control" id="validadeCartao" placeholder="MM/AA" value=""/>
                        </ion-col>

                        <ion-col>
                            <input type="tel" class="form-control" id="cvv" placeholder="CVV" value=""/>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </form>
            
            <div class="text-center buttonArea smallfont">
                <button type="submit" class="btn btn-primary btn-lg rounded-pill greenButton">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    SALVAR OPÇÃO DE PAGAMENTO
                </button>
            </div>

        </div>
        
    </ion-content>
  </ion-app>