<ion-content padding >
  <div class="logoLogin">
    <img src="/assets/img/logo-branco.png" alt="Uai Leva">
  </div>

  <h1>Motorista</h1>
  <form  [formGroup]="onLoginForm" style="padding-left: 10px; padding-right: 10px; margin-top: 40%;"> <!---->
    <ion-item> 
      <ion-input type="tel"  name="telefone" formControlName="userName" placeholder="Telefone" [brmasker]="{phone: true}"><!---->
        <ion-icon name="phone-portrait-outline" size="small" slot="start"></ion-icon>&nbsp;
      </ion-input>
      <p ion-text class="text08" *ngIf="onLoginForm.get('userName').touched && onLoginForm.get('userName').hasError('required')">
        <ion-text color="danger">Campo obrigatório!</ion-text>
      </p>
    </ion-item>
    <p></p>
    <ion-item>
      <ion-input [type]="tipo ? 'text' : 'password'"  formControlName="password" name="senha" placeholder="Senha"><!---->
        <ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>&nbsp;
      </ion-input>
      <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline'" slot="end" size="small" (click)="mostrarSenha()" style="padding-top: 5px;"></ion-icon>
      <p ion-text class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="danger">Campo obrigatório!</ion-text>
      </p>

    </ion-item>
  </form>

  <p></p>

  <ion-button (click)="goToHome()" class="botao">
    <ion-icon name="enter-outline" slot="end" style="color: #001c4e;"></ion-icon>Entrar
  </ion-button>
  <p></p>
  <a style="text-align: right; font-size: 0.9em; color: white; display: block; padding-right: 20px;" (click)="forgotPass()" >Esqueceu a senha?</a>
  <br><br>
  <ion-button (click)="cadastro()" class="cadastrar"><ion-icon name="caret-forward" size="small" slot="end" style="color: #b1ff49;"></ion-icon>&nbsp;Quero me cadastrar</ion-button>



  <!--<ion-grid>
            <ion-button shape="round" expand="full" color="tertiary" (click)="loginFb()">
                <ion-icon slot="start" name="logo-facebook" style="color: #1b2c7b;" [src]="user.img" alt=""></ion-icon>&nbsp;
                <h3>LOGIN COM FACEBOOK</h3>
              </ion-button><p></p>
              <ion-button shape="round" expand="full" color="tertiary">
                <ion-icon slot="start" name="logo-google" style="color: #1b2c7b;"></ion-icon>&nbsp;
                <h3>LOGIN COM GMAIL</h3>
              </ion-button>
        </ion-grid>-->
</ion-content>