ion-content {
    --background: var(--ion-color-light);
    --background: url("/assets/img/bg-login.jpg") #eaeaea no-repeat;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

ion-item {
    border: 1px solid lightgray;
    border-radius: 50px;
    --highlight-height: 0px;
    /*--highlight-color-focused: var(--ion-color-primary, #001c4e);
    --highlight-color-valid: var(--ion-color-success, #2dd36f);
    --highlight-color-invalid: var(--ion-color-danger, #eb445a);*/
}

ion-icon {
    color: gray;
}

.logoLogin img {
    margin: 30px auto;
    display: block;
    width: 30%;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: white; //#123b7d;
}

.botaoCadastro {
    --background: #b1ff49;  //#001c4e;
    --border: none;
    //--color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: white;
    --box-shadow: 0 0 0 0; 
    outline: 0;
}

.cadastrar {
    --background: none;
    --color: #b1ff49; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    --border: none;
    --background-activated: none;
    --color-activated:#b1ff49;
    --background-hover: none;
    --color-hover:  #b1ff49;
    --box-shadow: 0 0 0 0; 
    outline: 0;
}

