 <ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="#">
      <img src="/assets/img/logo-branco.png" style="width: 2.5em;"/>
      </a>
      <ion-buttons slot="end">
        <ion-menu-button color="medium"></ion-menu-button>
      </ion-buttons>
  </nav>
</ion-header>
<ion-content>
  <div #map>
    
      <div class="pagamentos" [hidden]="!destination" >

        <div  (click) = "navegar();" ><img src="/assets/img/navigator.png" style="width: 17%;margin-left: 40%;" /></div>
        <br>
        <button type="button" class="btn btn-primary btn-lg rounded-pill pegarCarro" style="background: red;" (click)="cheguei();">
          CHEGUEI
        </button>
       <br><br>
        <button type="button" class="btn btn-primary btn-lg rounded-pill pegarCarro" (click)="ligar();">
          LIGAR
        </button>
        <br><br>
        <button (click) = "cancelar();" type="button" class="btn btn-primary btn-lg rounded-pill pegarCarro" >
          CANCELAR
        </button>
        <br><br>
        <button type="button" (click)="inciarCorrida();" class="btn btn-primary btn-lg rounded-pill pegarCarro" >
          INICIAR CORRIDA
        </button>
    
      </div>

  </div>

  
</ion-content>