ion-content {
    --background: var(--ion-color-light);
    --background: url("/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

ion-item {
    border: 1px solid lightgray;
    border-radius: 50px;
    --highlight-height: 0px;
    /*--highlight-color-focused: var(--ion-color-primary, #001c4e);
    --highlight-color-valid: var(--ion-color-success, #2dd36f);
    --highlight-color-invalid: var(--ion-color-danger, #eb445a);*/
}

ion-icon {
    color: gray;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}

.botaoCadastro {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: white;
    --background-hover: #001c4e;
    --color-hover: white;
    --box-shadow: 0 0 0 0; 
    outline: 0;
}

small.text-success {
    background: greenyellow;
    padding: 6px;
    border-radius: 2pc;
    margin: 10px;
  }
  .text-danger{
    background: red;
    padding: 6px;
    border-radius: 2pc;
    margin: 10px;
    
  }