<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Etapas Obrigatórias</h1>
  <div>
    <p class="usuario">Olá, {{nome}}</p>
    <p class="comecar">Veja aqui o que você precisa fazer para criar sua conta.</p>
  </div>

  <ion-list>
    <ion-item no-padding (click)="toAcordos()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Acordos Legais<br>
        <p>Próxima etapa recomendada</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding (click)="toFotoPerfil()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Foto de Perfil<br>
        <p>Tudo pronto para começar</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding (click)="toCNH()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Carteira Nacional de Habilitação <br> com EAR - CNH <br>
        <p>Tudo pronto para começar</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>

    <ion-item no-padding (click)="toCRLV()">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <ion-label>
        Certificado de Registro e<br>Licenciamento de Veículo - CRLV<br>
        <p>Tudo pronto para começar</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button class="botao" (click)="login();">Etapas concluídas</ion-button>
</ion-content>
