 <ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="#">
      <img src="/assets/img/logo-branco.png" style="width: 2.5em;"/>
      </a>
      <ion-buttons slot="end">
        <ion-menu-button color="medium"></ion-menu-button>
      </ion-buttons>
  </nav>
</ion-header>
<ion-content>
  <div #map>
    <div class="boxConteudo" [hidden]="destination">
      <div class="saudacao">
          <ion-text style="color: #001c4e;" *ngIf="(user$ | async) as user;">
              Olá, {{user.full_name}}
          </ion-text> 
          <br>
          <ion-text style="color: #001c4e;">
            Que seja um dia abençoado!
        </ion-text> 
          <br>
          <br>
          <ion-button (click)="aceitarViagem()">aceitar</ion-button>
      </div>


    </div>

    <div  *ngFor= "let viagem of viagem">
      <div class="vibra">
              <br>
              <p><b>Passageiro: {{viagem.user_full_name}}</b></p>
              <p><b>Origem:</b> {{viagem.origem}}</p>
              <p><b>Destino:</b> {{viagem.destino}}</p>
              <p><b>Valor da corrida:</b> R$ {{viagem.valor_corrida}}</p>
              <p><b>Forma de pagamento:</b> {{viagem.forma_pagamento}}</p>
              <ion-button class="botao" (click) = "aceitar(viagem.id_usuario,viagem.id_viagem);">ACEITAR CORRIDA</ion-button>
              <br><br>
      </div>
  </div>
      <button (click)="comecar();" class="comecar" id = "comecar" style="display: block;">COMEÇAR</button>
      <button (click)="encerrar();" class="comecar" id = "encerrar" style="display: none;">ENCERRAR</button>
      
  </div>
  <style>
    body {
    background: #824438;
  }
  
  .vibra {
    margin: 10px auto;
    width: 300px;
    /*animation: vibrador 0.82s cubic-bezier(.36,.07,.19,.97) both;*/
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background:white;
    text-align:center;
    height:300px;
    border-radius: 15px;

  }

  p, b {
    color:#001c4e;
  }
  
  @keyframes vibrador {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  </style>
  <!--<ion-buttons class="ion-margin-top" slot="start" (click)="back()" [hidden]="!destination" style="position: fixed;">
        <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
            <ion-icon name="arrow-back" style="color: #001c4e; size: 5em;"></ion-icon>
        </ion-button>
    </ion-buttons>
       
    <br>

    
    <button type="button" class="btn btn-primary btn-lg rounded-pill pegarCarro" (click)="ligar('35998401989');">
      LIGAR
    </button>
  </div>

      
  </div>



  -->
</ion-content>