<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="end" (click)="close()">
                <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #001c4e;">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>   
    </ion-header>
  
    <ion-content fullscreen>
        <h1>Carteira</h1>

        <div class="carteira">

            <ion-item no-padding>
                <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
                <ion-label ><p>Total Viagens : </p>{{totalViagens}}<br></ion-label>                
            </ion-item>
                    
        </div>

        <div class="total">   

            <ion-item no-padding>
                <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
                <ion-label ><p>Total Arrecadado : </p>R$ {{valorTotal}}<br></ion-label>                
            </ion-item>
                     
        </div>

        <div class="devendo">
            <ion-item no-padding>
                <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: #001c4e;"></ion-icon>
                <ion-label ><p>Valor a ser pago UaiLeva : </p>R$ {{valorUaileva}}<br></ion-label>                
            </ion-item>
        </div>
    </ion-content>
  </ion-app>