/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-spinner {
    transform: scale(1.5);
}

ion-radio {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: transparent;
    color: #001c4e;
    --color-checked: #001c4e;
    --inner-border: none;
}

.carregar {
    /*> div {
      background: lightpink !important;
      color: #fff;
      margin-bottom: 10px;
      
    }*/
    .alert-title{
      color: #001c4e !important;
    }
    .alert-sub-title{
      color: #001c4e !important;
      text-align: center ;
      font-size: 18px;
    }
    .alert-message {
      color: #001c4e !important;
      text-align: center ;
      font-size: 25px;
    }
    .alert-button-inner{
      text-align: center;
      color: #001c4e !important;
    }
    .alert-wrapper {
      width: 100%;
    }
      --spinner-color: #001c4e;
      color: #001c4e;
  }

  .botao {
    --background: #b1ff49;  //#001c4e;
    --color: #001c4e; //white;
    font-weight: bold;
    display: block;
    height: 48px;
    width: 95%;
    margin: auto;
    --border-radius: 50px;
    --background-activated: #001c4e;
    --color-activated: #001c4e;
    --background-hover: #001c4e;
    --color-hover:  #001c4e;
    --box-shadow: 0 0 0 0; 
    outline: 0;
}

.custom-viagem {
  .alert-wrapper{
    max-height: 250px;
    min-width: 97%;
  }

  .alert-sub-title{
  font-size: small;
  text-align: right;
  color: #001c4e;
  }

  .alert-message {
    color: #001c4e;
  }

  .custom-aceitar {
    background:#b1ff49;
    color: #001c4e;
    font-weight: bold; 
    border-radius: 50px;
  }

  .custom-recusar {
    background:red;
    color: #fff;
    font-weight: bold; 
    border-radius: 50px;
  }
}
